.App {
  max-width: 650px;
  height: 450px;
  border-radius: 5px;
  margin: 30px auto;
  background-color: #106885;
}

.App a {
  color: #31d2f2;
  text-decoration: none;
}

.App footer {
  color: white;
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 576px) {
  .App {
    max-width: 350px;
    height: 550px;
  }

  .App footer {
    color: black;
  }
}
